/* filepath: /Users/jonathan/Desktop/Projects/jason-co-ecom/apps/web/src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-gray-900 to-black text-white;
}

html, body {
  min-height: 100vh;  /* Ensures full-page height */
  margin: 0;
  padding: 0;
}

.text-gold-500 {
    color: #d4af37;
}

.text-gold-400 {
    color: #e8c764;
}

.bg-gold-500 {
    background-color: #d4af37;
}

.bg-gold-600 {
    background-color: #b8860b;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-semibold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}